<br>
<h1>Nuevo Grupo</h1>
<br>
<%= render "form", group: @group %>

<br>


<button style="border-radius: 60px; float: left; padding: 3px 5px;">
  <%= link_to "Listar Grupo", groups_path, class: "btn btn-inverse" %>
</button>

