<br>
<h1>Editar Concierto</h1>
<br>

<%= render "form", concert: @concert %>
<br>
<button style="border-radius: 60px; float: left;" >
  <%= link_to "Listar Conciertos", concerts_path, class: "btn btn-inverse" %>
</button>
