<br>
<h1>Nuevo Concierto</h1>
<br>

<%= render "form", concert: @concert %>

<br>
<button style="border-radius: 60px; float: left;" >
  <%= link_to "Lista de Conciertos", concerts_path, class: "btn btn-inverse" %>
</button>
